:root{
    --white : #fff;
    --black : #000;
    --blue : #31326f;
    /* --light-blue : #1381ff */
    --light-blue : #84bdff;
    --color-primary : #fff;
    --orange : #ffc400f6;
    --color-grey : #e3eef8;
    --light-grey : #ccc;
    --dark-grey : #222831;
    --dodge-blue: #0070e0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

/* body{
    font-family: "Nexa Light";
} */
p{
    font-size: 1.6em;
    line-height: 1.5;
}

img{
    width: 100%;
}



/*HEADER SECTION============================*/

.head-container{
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 2rem;
}

header{
    width: 100%;
    background-color: var(--white);
    padding: 5px 0;
}

nav{
    width: 100;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 4rem;
}

nav .logo{
    width: 12rem;
    height: 3rem;  
}

.main_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style:  none;
    font-family: "Nexa"
}

.main_menu li a{
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    padding: 0.6rem 0;
    margin-left: 3rem;
    color: gray;
}

.main_menu li a:hover{
    color: var(--dodge-blue);
    border-bottom: 4px solid var(--orange);
}

.main_menu li .active{
    color: var(--dodge-blue);
    border-bottom: 4px solid var(--orange);
}

.language-type li a:hover{
    color: var(--dodge-blue);
    border-bottom: 3px solid var(--dodge-blue);
}
.language-type{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style:  none;
    border-left: 1px solid gray;
    font-family: "Nexa";
    margin-left: 15rem;
}

.language-type li a{
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    padding: 0.6rem 0;
    margin-left: 3rem;
    color: gray;
}

.language-type li a:hover{
    color: var(--dodge-blue);
    border-bottom: 3px solid var(--dodge-blue);
}

.language-type li .active{
    color: var(--dodge-blue);
    border-bottom: 3px solid var(--dodge-blue);
}

.menu_bars,
.close{
font-size: 2.5rem;
color: var(--dark-grey);
cursor: pointer;
}

.menu_bars{
    display: none;
}

.close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.5rem 3rem 0 0;
    display: none;
}



.footer-container{
    background: linear-gradient(-90deg, var(--dodge-blue), var(--blue));
    /* background-color: var(--blue); */
}

.footer-boxes{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    row-gap: 1rem;
    column-gap: 1;
    z-index: 1;
    margin: auto;
    padding: 5rem;
    width: 100%;
    max-width: 100%;
}

.follow-us{
    color: var(--white);
    padding: 1rem;
    width: 20%;
    margin-top: 30px;
}

.follow-us a{
    color: var(--white);
}

.follow-us h2{
    font-family: "Nexa Light";
    font-size: 2rem;
    padding: 5px;
    width: 150px;
}

.follow-us .footer-icon{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.follow-us .footer-icon i{
    /* padding: 10px 10px 10px 10px; */
    font-size: 23px;
    /* border: 1px solid var(--white); */
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
}

.quick-links{
    margin-left: 30%;
    padding: 20px 50px 50px 50px;
}

.quick-links h1{
    font-size: 3rem;
    font-family: "Nexa";
    color: var(--white);
}

.quick-links ul{
    list-style: none;
}

.quick-links li{
    font-size: 1.5rem;
    font-family: "Nexa";
    font-weight: bold;
    color: var(--white);
    text-transform: uppercase;
    margin: 20px;
}

.quick-links li a{
    text-decoration: none;
    color: var(--orange);
}

.quick-links li a:hover{
    color: var(--white);
}

.follow-us .footer-icon i:hover{
    color: var(--orange);
}

.contact{
    margin-left: 10%;
    padding: 20px 50px 50px 50px;
}

.contact h2{
    font-size: 3rem;
    font-family: "Nexa";
    color: var(--white);
}

.contact .text{
    margin-top: 40px;
}

.contact p{
    margin-top: 10px;
    font-size: 1.5rem;
    font-family: "Nexa";
    color: var(--orange);
}

#ScrollUp{
    display: none;
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 99;
    background-color: rgb(41, 41, 41);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    font-size: 15px;
}

#ScrollUp i{
    color: white;
    font-size: 20px;
}

#ScrollUp:hover{
    background-color: var(--orange);
}

/*END OF FOOTER===============================================*/

/*INTRODUCTION SECTION==============================*/
.introduction-container{
    background: linear-gradient(to left, var(--dodge-blue), rgb(72, 167, 255));
    padding: 80px 80px 80px 80px;
}

.introduction-container h1{
    margin-left: 100px;
    color: var(--white);
    width: 25%;
    font-family: "Nexa";
    font-size: 40px;
    font-weight: bold;
    padding: 15px 15px 15px 0;
    border-bottom: 6px solid var(--white);
}

/*CONTACT DETAIL SECTION=============================================*/

.contact-links{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    row-gap: 1rem;
    column-gap: 1;
    z-index: 1;
}


.contact-icon{
    background-color: rgb(224, 224, 224);
    width: 130%;
}

.contact-icon{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    row-gap: 1rem;
    column-gap: 1;
    z-index: 1;
}

.contact-box .contact-icon{
    font-family: "Nexa";
    font-weight: bold;
    padding: 80px 20px 80px 20px;
}

.contact-box .contact-icon a{
    font-family: "Nexa";
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 20%;
    text-decoration: none;
    color: var(--dodge-blue);
}

.contact-box .contact-icon a i{
    font-size: 10rem;
    color: rgb(126, 126, 126);
    text-align: center;
    width: 80%;
}

.contact-box .contact-icon a h1{
    padding: 10px 0 0 0;
    margin-top: 20px;
    width: 80%;
    text-align: center;
    border-top: 10px solid var(--orange);
}

.contact-box .contact-icon a:hover{
    animation: slide linear 2s;
}

@keyframes slide {
    0%{
        transform: translateY(-2rem);
    }
    100%{
        transform: translateY(0);
    }   
}

.contact-email{
    align-items: center;
    background-color: rgb(224, 224, 224);
}

.contact-box .contact-email{
    font-family: "Nexa";
    font-weight: bold;
    margin-left: 35%;
    padding: 60px 20px 80px 20px;
}

.contact-box .contact-email a{
    font-family: "Nexa";
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 4%;
    text-decoration: none;
    color: var(--dodge-blue);
}

.contact-box .contact-email a i{
    font-size: 8rem;
    color: rgb(126, 126, 126);
    text-align: center;
    width: 20%;
    margin: 20px 0 0 130px;
}

.contact-box .contact-email a h1{
    padding: 10px 0 0 0;
    margin: 15px 0 0 130px;
    width: 30%;
    text-align: center;
    border-top: 10px solid var(--orange);
}

.contact-box .contact-email p{
    font-size: 1.5rem;
    margin: 0 0 0 90px;
    font-family: "Nexa Light";
}

.contact-box .contact-email a:hover{
    animation: slide linear 2s;
}

@keyframes slide {
    0%{
        transform: translateY(-2rem);
    }
    100%{
        transform: translateY(0);
    }   
}

.contact-us{
    margin-left: 8%;
}

.contact-us-title h1{
    font-size: 4rem;
    font-family: "Nexa";
    color: var(--dodge-blue);
    margin-left: 40px;
    width: 26%;
    padding: 10px 10px 0 0;
    margin-top: 40px;
    border-bottom: 5px solid var(--orange);
}

.contact-forms{
    margin-left: 40px;
    margin-top: 40px;
    width: 100%;
}

.contact-forms input{
    font-size: 1.3rem;
    font-family: "Nexa Light";
}

.contact-forms .first-input{
    width: 85%;
    border-radius: 10px;
    margin: 5px 5px 5px 5px;
    padding: 20px 20px 20px 20px;
    border: none;
    background-color: rgb(235, 233, 233);
}

.contact-forms .second-input{
    width: 42%;
    border-radius: 10px;
    margin: 5px 5px 5px 5px;
    padding: 20px 20px 20px 20px;
    border: none;
    background-color: rgb(235, 233, 233);
}

.contact-forms .third-input{
    width: 85%;
    height: 80%;
    border-radius: 10px;
    margin: 5px 5px 5px 5px;
    padding: 20px 20px 20px 20px;
    border: none;
    background-color: rgb(235, 233, 233);
    font-size: 1.3rem;
    font-family: "Nexa Light";
}

.feedback-send{
    margin: 40px 0 20px 52% ;
}

.feedback-send button{
    width: 40%;
    font-family: "Nexa";
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2rem;
    border: none;
    background-color: var(--dodge-blue);
    transition: ease 0.5s;
    color: white;
    padding: 15px 15px 15px 15px;
    border-radius: 40px;
}

.feedback-send button i{
    margin-right: 10px;
}

.feedback-send button:hover{
    background-color: var(--white);
    transition: ease 0.5s;
    color: var(--dodge-blue);
    border: 1px solid var(--dodge-blue);
    cursor: pointer;
}